<<<<<<< HEAD
.main{
    padding-top: 100px;
}
=======
>>>>>>> 33a0a0c... first commit
.imageBlockBG{
    height: 300px;
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/snowshop-829da.appspot.com/o/images%2Fbg-1.jpg?alt=media&token=e51d7434-5d03-4458-8998-ccd28cd7bbf1');
    background-size: cover;
    text-align: center;
}
.imageBlockBG h3{
    color: #ffc107;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 50px;
    padding-top: 8%;
}
.col-md-9 img{
    width: 100%;
    height: 450px
}
.detailsInf{
    margin-top: 50px;
    margin-bottom: 50px;
}
.col-md-3 p{
    font-size: 13px;
    text-align: justify;
}
.factTxt{
    margin-top: 20px;
    font-size: 13px;
<<<<<<< HEAD
}
@media screen and (max-width:991px){
    .imageBlockBG{
        height: 250px;   
    }
    .col-md-9{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .detailsInf{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .factTxt{
        font-size: 14px;
    }
    .col-md-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-3 p{
        font-size: 14px;
    }
    .col-md-9 img{
        height: 350px;
    }
}
@media screen and (max-width:767px){
    .imageBlockBG{
        height: 200px;   
    }
    .col-md-9 img{
        height: 290px;
    }
}
@media screen and (max-width:585px){
    .main{
        padding-top: 88px;
    }
}
@media screen and (max-width:575px){
    .main{
        width: 103vw;
    }
    .imageBlockBG h3{
        font-size: 43px;
        padding-top: 10%;
    }
    .col-md-9{
        flex: 0 0 92%;
        max-width: 92%;
        margin: 0 auto;
    }
    .col-md-3{
        flex: 0 0 92%;
        max-width: 92%;
        margin: 0 auto;
    }
    .col-md-9 img{
        height: 285px;
    }
}
@media screen and (max-width:510px){
    .imageBlockBG{
        height: 150px;
    }
    .imageBlockBG h3{
        font-size: 35px;
        padding-top: 8%;
    }
    .col-md-9 img{
        height: 270px;
    }
    .col-md-3, .col-md-9{
        flex: 0 0 90%;
        max-width: 90%;
    }
}
@media screen and (max-width:441px){
    .imageBlockBG h3{
        font-size: 26px;
        padding-top: 11%;
    }
    .col-md-9 img{
        height: 240px;
    }
    .col-md-3, .col-md-9{
        flex: 0 0 89%;
        max-width: 89%;
    }
}
@media screen and (max-width:381px){
    .col-md-9 img{
        height: 225px;
    }
    .col-md-3, .col-md-9{
        flex: 0 0 87%;
        max-width: 87%;
    }
}
@media screen and (max-width:360px){
    .imageBlockBG {
        height: 120px;
    }
    .imageBlockBG h3{
        padding-top: 12%;
    }
    .col-md-9 img{
        height: 210px;
    }
}
@media screen and (max-width:330px){
    .col-md-9 img{
        height: 190px;
    }
=======
>>>>>>> 33a0a0c... first commit
}