#header2{
    height: 100px;
    background-color: black;
    width: 100%;
    position: absolute;
}
header{
    background-color: black;
    font-size: 13px;
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}
#firstSpriteHeader{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/snowshop-829da.appspot.com/o/images%2Fimg-sprite.png?alt=media&token=7a0e1192-7aa1-49cd-803b-6d4f0b49241e');
    width: 20px;
    height: 20px;
    background-position: -65px -10px;
}
#secondSpriteHeader{
    margin-left: 15px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/snowshop-829da.appspot.com/o/images%2Fimg-sprite.png?alt=media&token=7a0e1192-7aa1-49cd-803b-6d4f0b49241e');
    width: 20px;
    height: 20px;
    background-position: -13px -11px;
}
.activeA:hover{
    color: black !important;
    background-color: white;
}
.activeA{
    margin-top: 25px;
}
.header a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    outline: none;
    text-decoration: none;
    color:white;
}
.active{
    color: #ffc107 !important;
}
.header .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.icon{
    font-size: 25px;
    padding: 25px !important;
}
#searchIconsBlock{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 37px;
}
.search{
    display: none;
    padding-top: 30px;
}
.bounce-in-right {
	-webkit-animation: bounce-in-right 1s both;
	        animation: bounce-in-right 1s both;
}
@-webkit-keyframes bounce-in-right {
    0% {
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-in-right {
    0% {
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }

@media screen and (max-width: 991px) {
    .activeA {
      padding: 0 5px;
    }
    .container{
        margin: 0 auto;
        max-width: 800px;
    }
    #secondSpriteHeader{
        display: none;
    }
}
  @media screen and (max-width: 700px) {
    .header a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .header a.icon {
      float: right;
      display: block;
    }
    #searchIconsBlock{
        display: none;
    }
  }
  
  @media screen and (max-width: 700px) {
    .header.responsive {
        position: absolute;
        width: 25%;
        margin-left: 75%;
    }
    .header.responsive .navbar-brand{
        display: none;
    }
    .header.responsive .specialA{
        margin-top: 100px;
    }
    .header.responsive .active{
        color: #ffc107;
    }
    .header.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .header.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    .header.responsive .dropdown {float: none;}
    .header.responsive .dropdown-content {position: relative;}
    .header.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  @media screen and (max-width: 585px) {
    .header.responsive{
        width: 100%;
        margin: 0;
    }
    .header.responsive .navbar-brand{
        display: block;
    }
    .header.responsive .specialA{
        margin-top: 0;
    }
    #header2{
       height: 88px;
    }
}
@media screen and (max-width: 585px) {
  .header{
    width: 100vw;
  }
}
@media screen and (max-width: 575px) {
  .header{
    width: 103vw;
  }
  .header.responsive{
    width: 103vw;
  }
}
