<<<<<<< HEAD
.mainBlock{
    padding-top: 100px;
}
.detailsHeader{
    height: 330px;
    background: rgb(85,85,85);
    background: linear-gradient(90deg, rgba(85,85,85,1) 38%, rgba(133,133,133,1) 100%);
    color: white;
    width: 100%;
}
.dd{
    max-width: 1140px;
    margin: auto;
    padding-top: 5%;
=======
.detailsHeader{
    width: 100%;
    height: 230px;
    background: rgb(85,85,85);
    background: linear-gradient(90deg, rgba(85,85,85,1) 38%, rgba(133,133,133,1) 100%);
    color: white;
>>>>>>> 33a0a0c... first commit
}
.col-md-8 h1{
    font-weight: 700;
    margin: 10px;
}
.col-md-8 h4{
    margin-bottom: 50px;
    margin-left: 10px;
}
.col-md-8 span{
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid white;
    margin: 0 10px;
}
.col-md-8 span:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.col-md-4 div{
    margin-top: 10px;
}
.timerBox h5{
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}
.timer{
    font-size: 40px;
    margin-right: 45px;
    font-weight: 700;
}
.datemark{
    font-size: 13px;
<<<<<<< HEAD
    margin: 0 5%;
=======
>>>>>>> 33a0a0c... first commit
}
.book img{
    width: 45px;
    margin-right: 20px;
}
.book h5{
    display: inline-block;
    font-size: 25px;
}
.book{
    border: 1px solid rgb(173, 173, 173);
    padding: 10px 15px;
}
.book a{
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #ffc107;
    padding: 11px 20px;
    font-weight: 700;
}
.book a:hover{
    color: white;
    background-color: black;
}
.book div{
    display: inline-block;
    width: 77%;
}
.book1{
    border-top: none;
    border-bottom: none;
}
.second h4{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
}
.box{
    padding:20px;
    box-shadow: 0px 0px 5px 0px rgba(85,85,85,1);
    margin-bottom: 30px;
}
.box h4{
    margin-left: 0;
}
.text{
    font-size: 18px;
    color: #555;
    line-height: 1.3;
}
.col-sm-5 img{
    width: 100%;
}
.headAtrac{
    font-size: 20px;
    text-align: justify;
    line-height: 1.3;
    margin-top: 10px;
}
.videoBlock{
    padding:20px;
    box-shadow: 0px 0px 5px 0px rgba(85,85,85,1);
    margin: 30px 0;
    height: 400px;
}
.containerPadd{
    padding: 0;
}
.locationtext{
    color: #dc3545;
    margin-bottom: 50px;
}
.information{
    margin: 50px 0;
<<<<<<< HEAD
    text-align: justify;
=======
>>>>>>> 33a0a0c... first commit
}
.information h2{
    text-align: center;
    font-weight: 700;
}
.information h3{
    margin-top: 30px;
    font-weight: 700;
}
.information p{
    font-size: 18px;
    line-height: 1.6;
}
.photos{
<<<<<<< HEAD
    background-size: 100%;
    background-repeat: no-repeat;
    height: 420px;
    background-position: center;
=======
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
>>>>>>> 33a0a0c... first commit
}
p a, h4 a{
    color: #dc3545;
    cursor: pointer;
    text-decoration: none;
}
.tips{
    color: #484848;
}
.information h4{
    margin-left:0;
<<<<<<< HEAD
}
iframe{
    width: 690px;
    height: 360px;
}
@media screen and (max-width:1199px){
    .timer{
        font-size: 35px;
    }
    .datemark{
        font-size: 10px;
    }
    .dd{
        max-width: 960px;
    }
    .book div{
        width: 70%;
    }
    iframe{
        width: 100%;
    }
}
@media screen and (max-width:991px){
    .col-md-8{
        flex:0 0 100%;
        max-width: 100%;
    }
    .col-md-4{
        flex:0 0 100%;
        max-width: 100%;
    }
    .detailsHeader{
        height: 420px;
    }
    .col-md-8 h4{
        margin-bottom: 20px;
    }
    .timerBox h5{
        font-weight: lighter;
    }
    .timerBox{
        text-align: center;
        padding-top: 30px;
    }
    .special{
        display: none;
    }
    .timer{
        font-size: 45px;
        margin: 0 9%;
    }
    .datemark{
        font-size: 15px;
        margin: 0 8.5%;
    }
    .dd{
        max-width: 800px;
    }
    .book div{
        width: 77%;
    }
    .container{
        max-width: 800px;
    }
    .eventAtraction{
        margin-bottom: 30px;
    }
    .col-sm-5 img{
        width: 85%;
    }
}
@media screen and (max-width:767px){
    .col-md-8 h1{
        font-size: 31px;
    }
    .col-md-8 h4{
        font-size: 20px;
    }
    .col-md-8 span{
        padding: 5px 15px;
        font-size: 16px;
    }
    .timerBox{
        padding-top: 20px;
    }
    .timer{
        font-size: 35px;
        margin: 0 10%;
    }
    .datemark{
        font-size: 14px;
        margin: 0 9%;
    }
    .detailsHeader{
        height: 370px;
    }
    .timerBox h5{
        font-size: 22px;
    }
    .locationtext{
        font-size: 25px;
    }
    .videoBlock{
        margin-bottom: 15px;
    }
    .locationtext, .information{
        margin-top: 0;
        margin-bottom: 20px;
    }
    .information h2{
        font-size: 28px;
    }
    .information p{
        font-size: 17px;
    }
    .information h3{
        font-size: 25px;
    }
    .photos{
        height: 390px;
    }
    .eventAtraction {
        flex: 0 0 60%;
        max-width: 60%;
        margin: auto;
        margin-bottom: 30px;
    }
    .headAtrac{
        text-align: center;
    }
}
@media screen and (max-width:760px){
    .col-md-4{
        flex: 0 0 55%;
        max-width: 55%;
        margin: auto;
    }
    .datemark{
        margin: 0 5%;
    }
    .timer{
        margin: 0 7%;
    }
}
@media screen and (max-width:716px){
    .photos{
        height: 370px;
    }
}
@media screen and (max-width:673px){
    .book div{
        width: 70%;
    }
    .videoBlock{
        height: 350px;
    }
    iframe{
        height: 100%;
    }
    .photos{
        height: 350px;
    }
    .eventAtraction {
        flex: 0 0 80%;
        max-width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:640px){
    .photos{
        height: 320px;
    }
}
@media screen and (max-width:575px){
    .mainBlock{
        width: 103vw;
        padding-top: 88px;
    }
    .book, .book a{
        padding: 8px 15px;
    }
    .book img{
        width: 35px;
    }
    .book h5{
        font-size: 20px;
    }
    .book a{
        font-size: 16px;
    }
    .information p{
        font-size: 16px;
    }
    .locationtext, .information h3{
        font-size: 22px;
    }
    .information h2{
        font-size: 24px;
    }
    .information h3{
        margin-top: 15px;
    }
    .col-sm-5 img{
        width: 50%;
        margin-left: 25%;
    }
    .col-sm-7{
        text-align: center;
    }
}
@media screen and (max-width:492px){
    .book div{
        width: 65%;
    }
    .videoBlock{
        height: 250px;
    }
    .locationtext, .information h2, .information h3{
        font-size: 22px;
    }
    .information p{
        font-size: 16px;
    }
    .photos{
        height: 240px;
    }
    .map{
        display: none;
    }
}
@media screen and (max-width:490px){
    .col-md-4{
        display: none;
    }
    .detailsHeader{
        height: 230px;
    }
}
@media screen and (max-width:436px){
    .book img{
        width: 30px;
    }
    .book h5{
        font-size: 17px;
    }
    .book a{
        font-size: 13px;
    }
    .book div{
        width: 60%;
    }
    .videoBlock{
        height: 230px;
    }
    .photos{
        height: 210px;
    }
}
@media screen and (max-width:383px){
    .book a{
        font-size: 13px;
        padding: 7px;
    }
    .book div{
        width: 65%;
    }
    .videoBlock{
        height: 200px;
    }
    .book h5{
        font-size: 14px;
    }
    .col-md-8 h4{
        font-size: 18px;
    }
    .locationtext{
        font-size: 18px;
    }
    .information h2, .information h3{
        font-size: 20px;
    }
    .information p{
        font-size: 14px;
    }
    .photos{
        height: 190px;
    }
}
@media screen and (max-width:344px){
    .book div{
        width: 62%;
    }
    .book img{
        margin-right: 10px;
    }
    .book{
        padding: 8px 12px;
    }
=======
>>>>>>> 33a0a0c... first commit
}