<div class="container">
    <div class="buttonBlock">
        <button (click)="addModal(addNew)">Add new event</button>
    </div>
    <div class="row">
        <div class="card" *ngFor="let public of adminBlog">
            <img src={{public.image}} class="card-img-top">
            <div class="card-body">
              <p class="card-text">{{public.textPriview}}</p>
            </div>
            <a class="btn btn-warning" (click)="openModal(information, public.id)">More information</a>
            <ng-template #information>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">{{public.title}}</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <img src={{public.image}} alt="">
                    <p class="textPrev">{{public.textPriview}}</p>
                    <iframe width="760" height="400" [src]='videoURL()' frameborder="0" allowfullscreen></iframe>
                    <p class="textPrev" innerHTML="{{public.text}}"></p>
                    <div class="btnGroup">
                        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" (click)="delModal(delNested, public)">Delete</button>
                        <button type="button" class="btn btn-warning" (click)="editModal(editNested, public)" (click)="modalRef.hide()"> Edit</button>
                    </div>                
                </div>
            </ng-template>
        </div>
    </div>
</div>
 
<ng-template #addNew>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new publication</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Title: </label>
    <input type="text" class="form-control" name="newTitle" [(ngModel)]="newTitle">
    <label>Image: </label>
    <input type="text" class="form-control" name="newImg" [(ngModel)]="newImg">
    <label>Video link: </label>
    <input type="text" class="form-control" name="newVideo" [(ngModel)]="newVideo">
    <label>Preview text: </label>
    <textarea class="form-control" name="newPreview" [(ngModel)]="newPreview"></textarea>
    <label>Text: </label>
    <textarea class="form-control" name="newText" [(ngModel)]="newText"></textarea>
    <label>Font weight: </label>
    <select class="custom-select" [(ngModel)]="selectedWeight">
        <option value="normal">Normal</option>
        <option value="bold">Bold</option>
    </select>
    <label>Font family: </label>
    <select class="custom-select" [(ngModel)]="selectedFamily">
        <option value="georgia">Georgia</option>
        <option value="monospace">Monospace</option>
        <option value="serif">Serif</option>
        <option value="cursive">Cursive</option>
        <option value="sans-serif">Sans-serif</option>
    </select>
    <label>Font size: </label>
    <select class="custom-select" [(ngModel)]="selectedSize">
        <option value="14px">14px</option>
        <option value="16px">16px</option>
        <option value="18px">18px</option>
        <option value="20px">20px</option>
        <option value="22px">22px</option>
    </select>
    <div class="btnGroup">
        <button type="button" class="btn btn-light" (click)="modalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-dark" (click)="addNewPublication()" (click)="modalRef.hide()" [disabled] = '!newTitle || !newImg || !newVideo || !newPreview || !newText || !selectedWeight || !selectedFamily || !selectedSize' > Add</button>
    </div>   
  </div>
</ng-template>

<ng-template #editNested>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit publication</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Title: </label>
    <input type="text" class="form-control" name="editTitle" [(ngModel)]="editTitle">
    <label>Image: </label>
    <input type="text" class="form-control" name="editImg" [(ngModel)]="editImg">
    <label>Video link: </label>
    <input type="text" class="form-control" name="editVideo" [(ngModel)]="editVideo">
    <label>Preview text: </label>
    <textarea class="form-control" name="editPreview" [(ngModel)]="editPreview"></textarea>
    <label>Text: </label>
    <textarea class="form-control" name="editText" [(ngModel)]="editText"></textarea>
    <label>Font weight: </label>
    <select class="custom-select" [(ngModel)]="editWeight">
        <option value="normal">Normal</option>
        <option value="bold">Bold</option>
    </select>
    <label>Font family: </label>
    <select class="custom-select" [(ngModel)]="editFamily">
        <option value="georgia">Georgia</option>
        <option value="monospace">Monospace</option>
        <option value="serif">Serif</option>
        <option value="cursive">Cursive</option>
        <option value="sans-serif">Sans-serif</option>
    </select>
    <label>Font size: </label>
    <select class="custom-select" [(ngModel)]="editSize">
        <option value="14px">14px</option>
        <option value="16px">16px</option>
        <option value="18px">18px</option>
        <option value="20px">20px</option>
        <option value="22px">22px</option>
    </select>
    <div class="btnGroup">
        <button type="button" class="btn btn-light" (click)="modalRef2.hide()">Cancel</button>
        <button type="button" class="btn btn-dark" (click)="addNewPublication()" (click)="modalRef2.hide()">Save edit</button>
    </div>   
  </div>
</ng-template>

<ng-template #delNested>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Are you sure?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef3.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="btnGroup">
      <button type="button" class="btn btn-dark" (click)="modalRef3.hide()">No</button>
      <button type="button" class="btn btn-danger" (click)="deletePublic()" (click)="modalRef3.hide()">Yes</button>
    </div>
  </div>
</ng-template> 