<ul class="nav nav-tabs" id="myTab">
    <li class="nav-item">
      <a class="nav-link" routerLink = 'products' routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = 'category' routerLinkActive="active">Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = 'events' routerLinkActive="active" >Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = 'teams' routerLinkActive="active" >Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='register-customers' routerLinkActive="active">Users</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <router-outlet></router-outlet>
  </div>
   