<<<<<<< HEAD
.teamBlock{
    padding-top: 100px;
}
=======
>>>>>>> 33a0a0c... first commit
.headerTeam{
    background-color: #ffc107;
    height: 250px;
}
.headerTeamTxt{
    color: black;
    width: 50%;
    margin: 0 auto;
    padding: 3% 0;
}
.headerTeamTxt h3{
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px
}
.headerTeamTxt p{
    text-transform: uppercase;
    text-align: center;
}
.col-md-3{
    height: 235px;
    padding: 15px;
}
img{
    height: 200px;
    width: 100%;
}
h5{
    color: white;
    position: absolute;
    top: 80%;
    font-weight: 700;
    margin-left: 2%;
    cursor: pointer;
}
h5:hover{
    color:black
}
.averageBlock{
    padding: 50px 0;
}
h3{
    font-size: 23px;
    font-weight: 700;
}
li{
    padding: 10px 20px;
    text-transform: uppercase;
    list-style-image: url('https://firebasestorage.googleapis.com/v0/b/snowshop-829da.appspot.com/o/images%2Fmarker.png?alt=media&token=ec090cf4-0a48-46d3-9d3e-019da857c251');
}
ul{
    padding-left: 15px;
}
.col-md-8 p{
    text-align: justify;
}
.col-md-8 img{
    height: 300px;
}
.teamBlock{
    background-color: black;
    color: white;
<<<<<<< HEAD
}
@media screen and (max-width:1199px){
    .col-md-3 {
        padding: 5px;
        padding-top: 15px;
    }
    h5{
        top:75%
    }
}
@media screen and (max-width:991px){
    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 15px;
    }
    img{
        height: 210px;
    }
    .averageBlock{
        padding-bottom: 10px;
    }
}
@media screen and (max-width:822px){
    .headerTeamTxt {
        width: 90%;
    }
}
@media screen and (max-width:767px){
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px 0;
        height: 300px;
    }
    img{
        height: 270px;
    }
    h5{
        font-size: 2em;
        top: 80%;
    }
}
@media screen and (max-width:575px){
     .teamBlock{
         padding-top: 88px;
         width: 103vw;
     }
     .col-md-3{
         margin: 0 auto;
         flex: 0 0 90%;
        max-width: 90%;
     }
     .col-md-8 img{
         height: 200px;
     }
}
@media screen and (max-width:456px){
     .headerTeamTxt h3{
        font-size: 40px;
    }
    .headerTeamTxt p{
        font-size: 14px;
    }
    img{
        height: 220px;
    }
    .col-md-3{
        height: 250px;
    }
    h5{
        top: 73%;
        font-size: 25px;
    }
}
@media screen and (max-width:338px){
     .headerTeamTxt h3{
        font-size: 35px;
    }
=======
>>>>>>> 33a0a0c... first commit
}