<div class="experianceBlock">
    <div class="headerExper">
        <div class="headerExperTxt">
            <h3>OUR EXPERIANCE</h3>
            <p>Are You Ready to Tackle Adventure?</p>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <div class="row">
                <div class="col-md-6 textBlock">
                    <h2>Are You Ready to Tackle Adventure?</h2>
                    <p>Far too often we are caught within our daily routine of work without play. As most can agree, the best memories one can possess stem from an epic event or live experience that they attended or participated in. Although fancy toys or career status is nice to have, living a meaningful, happy life is about creating, capturing and sharing memories earned through experiences that span the spectrum of life’s opportunities.</p>
                    <p>That’s why we have taken it upon ourselves to launch our newest and most exciting feature yet: where action, travel and adventure are fused into one trip featuring only the most exciting events and excursions around the world.</p>
                </div>
                <div class="col-md-6">
                    <img src="https://firebasestorage.googleapis.com/v0/b/snowshop-829da.appspot.com/o/images%2F1%20(1).jpg?alt=media&token=0934b1c1-2904-40a7-a4c9-1f765f707c10" alt="">
                </div>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://firebasestorage.googleapis.com/v0/b/snowshop-829da.appspot.com/o/images%2F3%20(1).jpg?alt=media&token=71ce6480-2177-42bf-88e5-de39a8dd4a61" alt="">
                </div>
                <div class="col-md-6" style="padding-left: 30px;">
                    <h2>The Possibilities Are Endless</h2>
                    <p>Ever thought about heliskiing before landing at the <a [routerLink]="['/events/'+snow?.name, snow?.id]">Snowbombing Music Festival</a> in British Columbia for a weekend to remember? Or what about embarking on a breathtaking helicopter ride over Spain before joining the epic tomato battle of La Tomatina or the ultimate wine fight at Batalla Del Vino De Haro? Imagine a truly unique way of exploring the sunniest capital in Europe after dancing the night away at Super Bock Super Rock or partying with 1,000 new friends at <a [routerLink]="['/events/'+tomorrow?.name, tomorrow?.id]">Tomorrowland</a> or <a [routerLink]="['/events/'+rave?.name, rave?.id]">Rave on Snow</a>.</p>
                    <p>The opportunities are endless but we are making them possible for you… the true adventure seeker.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-md-6 textBlock">
                    <h2>Don’t Hesitate, Make it Happen</h2>
                    <p>So here’s a piece of advice for all the hardworking professionals, creative entrepreneurs and diligent students out there – take the risk, book the trip and enjoy cherished memories of a lifetime. Deepen your relationships, broaden your culture and connect with other communities around the world! Work will always be there when you get back, so now’s the time to seize the moment of unique traveling encounters.</p>
                    <p>The platform is here and the experiences are yours for the taking.. Are you ready to capture them?</p>
                    <p><b>Do you have an experience or know of one? Send us an email on contact@snowboards.com</b></p>
                </div>
                <div class="col-md-6">
                    <img src="https://firebasestorage.googleapis.com/v0/b/snowshop-829da.appspot.com/o/images%2F2.jpg?alt=media&token=c94c6eaf-f4a8-425b-9260-2425696ffca5" alt="">
                </div>
            </div>
        </div>
    </div>
</div>