<div class="main">
    <div class="mainheader">
        <div class="mainHeaderTxt">
            <h2>LOOKING FOR FESTIVAL JOBS?</h2>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8">
            <h3>Here at Rad Season we aim to bring you the best action sports, adventure events and music festivals from across the globe.</h3>
            <p>If you are interested in working at any of these festivals on Rad, please drop us a message and add your comments to the form below.</p>
            <form>
                <div class="form-group">
                    <label>Name <span>*</span></label>
                    <input type="text" class="form-control" placeholder="Your full name">
                </div>
                <div class="form-group">
                    <label>Contact number</label>
                    <input type="text" class="form-control" placeholder="Your phone number">
                </div>
                <div class="form-group">
                    <label>Email <span>*</span></label>
                    <input type="email" class="form-control" placeholder="Your email">
                </div>
                <div class="form-group">
                    <label>Message <span>*</span></label>
                    <textarea class="form-control" placeholder="Your message"></textarea>
                </div>
                <button type="button" class="btn btn-warning">Send</button>
            </form>
        </div>
    </div>
</div>